body {
    background-image: url('/extras/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}

.first-div {
    display: flex;
    flex-direction: column;
}

.send-mglt {
    margin-top: 10px;
}

th,
td {
    font-weight: 400;
}
